@use '../styles/variables.scss' as *;

.dashboard {
  width: 100%;
  min-height: 100vh;
  background-color: $white;

  .content {
    padding: $spacing-sm 0;
    max-width: 100%;

    .contentcontainer {
      background-color: $white;
      border-radius: $radius-md;
      border: 1px solid $border-color;
      padding: $spacing-sm;
    }

    .buttons-section {
      display: flex;
      gap: $spacing-md;
      margin-block: $spacing-lg;
    }

    .filters-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $spacing-lg;
      padding: $spacing-md 0;

      .section-title {
        font-size: 1.1rem;
        font-weight: 600;
        color: $button-primary;
      }

      .filters-chips {
        display: flex;
        gap: $spacing-md;
        flex-wrap: wrap;
      }
    }
  }
}

.icon-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-active {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $button-primary;
    font-size: 0.6rem;
    font-weight: 600;
    cursor: pointer;
    
    svg {
      width: .8rem;
      height: .8rem;
      fill: $button-primary;
    }
  }
  
  .icon-inactive {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    
    svg {
      width: .8rem;
      height: .8rem;
    }
  }
}


