@use '../../styles/variables.scss' as *;

.button {
  padding: $spacing-sm $spacing-md;
  border: none;
  border-radius: $radius-sm;
  font-size: 0.8rem;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    opacity: 0.9;
  }

}

.button-primary {
  background-color: $button-primary;
  color: $white;

  &:hover {
    background-color: $button-primary-hover;
  }
}

.button-secondary {
  background-color: $button-secondary;
  color: $text-primary;
  border: 1px solid $border-color;

  &:hover {
    background-color: $button-primary;
    color: $white;
  }
}

