@use '../../styles/variables.scss' as *;

.chip {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  padding: $spacing-sm $spacing-md;
  border-radius: $radius-sm;
  border: 1px solid;
  background-color: $white;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s;
  white-space: nowrap;

  &:hover {
    opacity: 0.8;
    transform: translateY(-.25rem);

  }

}


