@use '../../styles/variables.scss' as *;

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  background-color: $white;
  border-radius: $radius-md;
  border: 1px solid $border-color;
  overflow: hidden;

  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;

    .table-header {
      padding: $spacing-md;
      text-align: right;
      font-weight: 400;
      background-color: $white;
      border-bottom: 1px solid $border-color;
      white-space: nowrap;

      &.header-icon-only {
        text-align: center;
        
        .header-content {
          margin-inline-start: .5rem;
          justify-content: center;
        }
      }

      .header-content {
        display: flex;
        gap: $spacing-sm;
      }

      .header-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: .8rem;
          height: .8rem;
        }
      }
    }

    .table-row {
      border-bottom: 1px solid $border-color;
      transition: background-color 0.2s;

      
      &:last-child {
        border-bottom: none;
      }
      &:nth-child(odd) {
        background-color: rgba($text-secondary, 0.05);
      }
      &:hover {
        background-color: rgba($button-primary, 0.05);
      }

      .table-cell {
        padding: $spacing-md;
        color: $text-primary;
      }
    }
  }
}

