@use './styles/variables.scss' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

html {
  direction: rtl;
}

body {
  margin: 0;
  padding: 0 1rem;
  min-height: 100vh;
  background-color: $white;
  color: $text-primary;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}
